# HPA for API scaling (extra point)
apiVersion: autoscaling/v2
kind: HorizontalPodAutoscaler
metadata:
  name: fk-api-hpa
  namespace: fk-webstack
spec:
  scaleTargetRef:
    apiVersion: apps/v1
    kind: Deployment
    name: fk-api
  minReplicas: 2
  maxReplicas: 4
  metrics:
    - type: Resource
      resource:
        name: cpu
        target:
          type: Utilization
          averageUtilization: 50
